/*
    IHUI

    @author Nihal Talur (0xFireball)
*/

body {
    font-family: 'Muli', 'Roboto', sans-serif;
    margin-top: 10%;
    background: rgb(250, 250, 250);
    transition: background 0.4s, color 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

a {
    color: #319a88;
}

a:visited {
    color: #0e5d4b;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

h1.smaller {
    font-size: 4rem;
}

h1.hero {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p.tiny {
    font-size: 0.8rem;
}

p.small-emph {
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 10px;
}

.padLeft {
    margin: 20px;
}

.small-logo-img>img {
    border-radius: 8px;
}

li {
    padding: 6px;
    margin: 4px;
    background: #f9f9f9;
    border-radius: 2px;
    letter-spacing: 0.02em;
}

li>a {
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

.btn,
button {
    background-color: #1abc9c;
    border: none;
    color: rgb(250, 250, 250);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.02em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.btn-default {
    background: rgb(250, 250, 250);
    color: rgb(40, 40, 40);
    border: 1px solid #1abc9c;
}

.btn-default:hover {
    background-color: #1abc9c;
    color: rgb(250, 250, 250);
}


/* dark theme support */

.dark {
    color: rgb(240, 240, 240);
    background: rgb(40, 40, 40);
}

.btn-dark,
button.dark {
    background-color: rgb(40, 40, 40);
    color: rgb(240, 240, 240);
}


/* ripple support, from https://github.com/mladenplavsic/css-ripple-effect */

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .4s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
}