
// light
$light-background: rgb(240, 240, 240);
$light-foreground: rgb(10, 10, 10);

// dark
$dark-foreground: rgb(240, 240, 240);
$dark-background: rgb(40, 40, 40);

// palette
$col-primary: #14ad93;

$col-primary-inverse: #eeeeee;
