
.btn,
button {
    background-color: #1abc9c;
    border: none;
    color: $light-background;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.02em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.btn-default {
    background: $light-background;
    color: $light-foreground;
    border: 1px solid $col-primary;
}

.btn-default:hover {
    background-color: $col-primary;
    color: $light-background;
}

.btn-dark,
button.dark {
    background-color: $dark-background;
    color: $dark-foreground;
}

