
a {
    color: #319a88;
}

a:visited {
    color: #0e5d4b;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

h1.smaller {
    font-size: 4rem;
}

h1.hero {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p.tiny {
    font-size: 0.8rem;
}

p.small-emph {
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 10px;
}